<h1>New game</h1>

<div class="letters">
  <ul>
    <% @letters.each do |letter| %>
    <li><%= letter %></li>
    <% end %>
  </ul>
</div>

<form action="/score" class="input">
  <label for="word">What is the longest word you can find?</label><br>
  <input type="text" name="word" class="form-input">
  <input type="submit" value="Play" class="btn">
</form>
